.layout{
    display: grid;
    grid-template-rows: 55px 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
                        "navbar navbar"
                        "sidemenu mainContent";
    height: 100vh;
    // width: 100vw;
}
.navbar{
    grid-area: navbar;

}
.sidemenu{
    grid-area: sidemenu;
}
.mainContent{
    grid-area: mainContent;
}